**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-default.bash
**/*.X/nbproject/private
**/*.X/build
**/*.X/debug
**/*.X/dist

.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?
.$fig2.drawio.bkp
